html {
	color: black;
	background-color: white;
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	margin: 5rem;
	line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 3rem;
}

code {
  color: white;
  background-color: black;
}

table, th, td {
  width: 100%;
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}






